<!-- フォーム入力 -->
<%= form_for(Message.new, :html => {:class => "msg-flame-form"}) do |f| %>
    <% if @message.errors.present? %>
        <div class="alert alert-danger">
            <%= alert %>
            <ul>
                <% @message.errors.full_messages.each do |full_message| %>
                    <li>
                        <%= full_message %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div>
        <%= f.text_area(:body, :class => "msg-form-textarea", :placeholder => "Message") %>
    </div>
    <div align="right">
        <%= f.text_field(:name, :class => "msg-form-text", :placeholder => "Name") %>
        <%= f.text_field(:age, :class => "msg-form-text", :placeholder => "Age") %>
        <%= f.submit("Send", :class => "btn btn-primary btn-sm msg-form-btn") %>
    </div>
<% end %>